.style-red {
    color: #c81623;
}

.dropdown .dd {
    /* 隐藏 */
    display: none;
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.pxq {
    height: 584px;
    margin-top: 25px;
}

.xq_top {
    height: 24px;
}

.xq_top ul li {
    float: left;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 20px;
    line-height: 24px;
}

.xq_top ul li::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
    font-size: 14px;
}

.xq_top ul li:last-child::after {
    content: '';
}

.xq_left {
    float: left;
    width: 401px;
    height: 559px;
}

.xq_hd {
    height: 400px;
    border: 1px solid #ccc;
}

.xq_hd img {
    padding: 34px 121px;
}

.xq_bd img {
    padding-top: 65px;
}

.xq_right {
    float: left;
    width: 719px;
    margin-left: 79px;
}

.xq_right h5 {
    font-size: 12px;
    margin: 20px 0;
}

.footer {
    margin-top: 20px;
}

.jiage {
    width: 718px;
    height: 114px;
    background-color: #fee9eb;
}

.jiage li {
    margin-bottom: 11px;
}

.l1 {
    float: left;
    width: 718px;
    height: 21px;
    padding: 0 9px;
    line-height: 21px;
}

.tou {
    float: left;
    margin-right: 15px;
}

.tou i {
    float: left;
    font-size: 24px;
}

.wei {
    float: right;
}

.wei p {
    color: #9999;
}

.wei p em {
    color: skyblue;
}


.jiage .l2 {
    float: left;
    width: 718px;
    height: 21px;
    padding: 0 9px;
    line-height: 21px;
}

.l2 {
    color: #999;
}

.l2 em {
    font-size: 14px;
    color: white;
    background-color: #c81623;
}

.l3 {
    float: left;
    width: 718px;
    height: 21px;
    padding-left: 51px;
    line-height: 21px;
    color: #999;
}

.zc {
    width: 550px;
    height: 88px;
    margin-top: 13px;
    border-bottom: 1px solid #ccc;
}

.zc li {
    float: left;
    margin-left: 9px;
    width: 509px;
    height: 18px;
    margin-bottom: 15px;
}

.zc_l1 p {
    display: inline-block;
    color: #999;
    line-height: 18px;
    margin-left: 8px;
}

.zc_l2 p {
    display: inline-block;
    color: #999;
    line-height: 18px;
    margin-left: 8px;
}

.zc_l2 em::after {
    content: '\e91e';
    font-family: 'icomoon';
}

.zc_l3 {
    padding-left: 42px;
    color: #999;
}

.scolor {
    width: 540px;
    height: 55px;
    margin: 2px 0;
}

.scolor li {
    float: left;
    line-height: 55px;
}

.scolor .se1 {
    width: 82px;
    height: 44px;
    color: #000;
    text-align: center;
    line-height: 44px;
    margin: 0 8px 0 15px;
    border: 2px solid #ccc;
    background-color: #f7f7f7;
}

.scolor ul li:last-child {
    border: 2px solid #c81623;
}